git init
git add .
git commit -m "Feature: Initial setup of Full-Stack Task Tracker"
git remote add origin [https://github.com/abdulparveen1979/FullStack-TaskTracker/edit/main/.gitignore]
git push -u origin main
